# IGNORE DATA
BoXHED_Fuse/JSS_SUBMISSION_NEW/

# IGNORE CACHES
*.pyc
__pycache__/*
data_cache
BoXHED_Fuse/logs/
BoXHED_Fuse/logs_test/
wandb
BoXHED_Fuse/tmp/
BoXHED_Fuse/tmpcache/

# IGNORE CREDENTIALED MODELS
BoXHED_Fuse/models/Clinical-T5-Base
BoXHED_Fuse/models/Clinical-T5-Large
BoXHED_Fuse/models/Clinical-T5-Sci
BoXHED_Fuse/models/Clinical-T5-Scratch

# IGNORE MODEL CHECKPOINTS
BoXHED_Fuse/model_outputs/


# IGNORE SCRIPTS
BoXHED_Fuse/scripts/

# IGNORE DEV SCRIPTS/ DATA
old_data/*
views
viewer*.ipynb

# IGNORE EXTRANEOUS PACKAGES
extraneous/

BoXHED_Fuse.egg-info
settings.json