# IGNORE BUILD
build/
BoXHED_Fuse.egg-info
dist
.vscode

# IGNORE JSS_SUBMISSION
BoXHED_Fuse/JSS_SUBMISSION/

# IGNORE LOGS
BoXHED_Fuse/src/logs

# IGNORE CACHES
*.pyc
__pycache__/*
data_cache
BoXHED_Fuse/logs/
BoXHED_Fuse/logs_test/
wandb
BoXHED_Fuse/tmp/
BoXHED_Fuse/tmpcache/

# IGNORE CREDENTIALED MODELS
BoXHED_Fuse/models/Clinical-T5-Base
BoXHED_Fuse/models/Clinical-T5-Large
BoXHED_Fuse/models/Clinical-T5-Sci
BoXHED_Fuse/models/Clinical-T5-Scratch

# IGNORE MODEL CHECKPOINTS
BoXHED_Fuse/model_outputs/


# # IGNORE SCRIPTS
# BoXHED_Fuse/scripts/
BoXHED_Fuse/scripts/custom

# IGNORE DEV SCRIPTS/ DATA
data/
old_data/*
views
viewer*.ipynb

# IGNORE EXTRANEOUS PACKAGES
extraneous/
