*.pyc
__pycache__/*
data_cache/*
*/data_cache/*
logs/*
logs_test/*
wandb
old_data/*
views

Clinical-Longformer_out
Clinical-Longformer_rad_out
Clinical-Longformer_rad_test_out
Clinical-Longformer_test_out
Clinical-Longformer_dis_test_out
Clinical-T5-Base_out
Clinical-T5-Base_rad_out
Clinical-T5-Base_test_out
frozen_encoder_model_out
longformer
tokenized_notes
tmp
tmpcache
tokenized_notes_rad
model_test_rad
model_test
model_from_ckpt*
model

models/*
